{% extends 'layout.html' %}

{% block body %}
<div>
  <h1>Edit review of {{ game.name }}</h1>
  <form method="POST" action="{{ url_for('reviews_edit', id=review.id) }}">
    <table>
      <tr>
        <td>
          {{ form.content.label }}
        </td>
        <td>
          {% set text = form.content.process_data(review.content) %}
          {{ form.content(value = text) }}
        </td>
        <td>
          <ul>
            {% for error in form.content.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.rating.label }}
        </td>
        <td>
          {{ form.rating(value = review.rating) }}
        </td>
        <td>
          <ul>
            {% for error in form.rating.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </table>
    <button type="submit">Update</button>
  </form>
  <form method="GET" action="{{ url_for('reviews_show', game_id=game.id) }}">
    <button>Back to game page</button>
  </form>
  <form method="GET" action="{{ url_for('auth_user') }}">
    <button>Back to your profile</button>
  </form>
</div>

{% endblock %}