{% extends 'layout.html' %}

{% block body %}
<div>
  <h1>Review game {{ game.name }}</h1>
  <form method="POST" action="{{ url_for('reviews_create', game_id=game.id) }}">
    <table>
      <tr>
        <td>
          {{ form.content.label }}
        </td>
        <td>
          {{ form.content }}
        </td>
        <td>
          <ul>
            {% for error in form.content.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.rating.label }}
        </td>
        <td>
          {{ form.rating }}
        </td>
        <td>
          <ul>
            {% for error in form.rating.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </table>
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}