{% extends 'layout.html' %}

{% block body %}

<h1>{{ user.name }}</h1>
<p>Username: {{ user.username }}</p>
<p>Role: {{ user.role }}</p>

<h3>List of reviews by this user</h3>
{% for review in reviews %}
<div style="border:1px solid black">
  <p style="margin:15px 10px">
    Game: <a href="{{ url_for('games_view', id=review.game.id) }}">{{ review.game.name }}</a>
  </p>
  <p style="margin:15px 10px">
    Review: {{ review.content }}
  </p>
  <p style="margin:15px 10px 10px">
    Rating: {{ review.rating }}/10
  </p>
  <form method="GET" action="{{ url_for('reviews_edit', id=review.id) }}">
    <button type="submit">Edit review</button>
  </form>
  <form method="POST" action="{{ url_for('reviews_delete', id=review.id) }}">
    <button type="submit">Delete review</button>
  </form>
</div>
{% endfor %}

{% endblock %}
