{% extends 'layout.html' %}

{% block body %}
<div>
  <h1>List of all games</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Developer</th>
      <th>Year</th>
      <th>Categories</th>
    </tr>
    {% for game in games %}
    <tr style="border-top:1px solid black">
      <td><a href="{{ url_for('games_view', id=game.id) }}">{{ game.name }}</a></td>
      <td>{{ game.developer }}</td>
      <td>{{ game.year }}</td>
      <td>
        <ul>
          {% for category in game.categories %}
            <li>{{ category.name }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}