{% extends 'layout.html' %}

{% block body %}
<div>
  <h1>Add a new game</h1>
  <form method="POST" action="{{ url_for('games_create') }}">
    <div>
      Name
      <input type="text" name="name" />
    </div>
    <div>
      Developer
      <input type="text" name="developer" />
    </div>
    <div>
      Year
      <input type="number" name="year" />
    </div>
    <div>
      Genre
      <input type="text" name="genre" />
    </div>
    <div>
      <button type="submit">Add a new game</button>
    </div>
  </form>
</div>
{% endblock %}